<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs307.boilerlab"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <uses-library android:name="com.google.android.maps"/>
        
        <activity
            android:name="com.cs307.boilerlab.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.cs307.boilerlab.LabView"
            android:label="@string/title_activity_lab_view" >
        </activity>
        <activity
            android:name="com.cs307.boilerlab.Map"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="com.cs307.boilerlab.LabList"
            android:label="@string/title_activity_lab_list" >
        </activity>
        <activity
            android:name="com.cs307.boilerlab.Preferences"
            android:label="@string/title_activity_preferences" >
        </activity>
        
        <meta-data
    		android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyAK05AnatGCizGdcdUFxspk7o9kVfmV1rs"/>
    </application>

</manifest>
